# EditorConfig is awesome: http://EditorConfig.org

root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.dust]
trim_trailing_whitespace = true
indent_size = 2

[*.php]
trim_trailing_whitespace = true
indent_size = 4
indent_style = tab

[*.md]
indent_size = 4
trim_trailing_whitespace = false

[bower.json]
indent_style = space
indent_size = 2

[composer.json]
indent_style = space
indent_size = 2

[package.json]
indent_style = space
indent_size = 2
