# Project
.tmp
dist/**/*
lib/**/*

# JavaScript
node_modules/**/*
bower_components/**/*

# PHP
composer.phar
vendor/**/*

# Grunt
.grunt

# OS X
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items

# Sublime Text
*.sublime-workspace
sftp-config.json

# Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# JetBrains
.idea/
*.ipr
*.iml
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml

# TextMate
*.tmproj
*.tmproject
tmtags
