@font-size-base:        14px;

@icon-font-name:        "glyphicons-halflings-regular";
@icon-font-svg-id:      "glyphicons_halflingsregular";

@pull-alignment-margin: floor((@grid-gutter-width / 2));

@color-text:              #000;
@color-background:        #eee;
@color-background-text:   #000;
@color-background-border: #ddd;
