/* Comments */

.comment {
  @extend .media;

  &, &:first-child {
    margin-top: 20px;
  }

  .avatar {
    @extend .pull-left;

    img {
      @extend .media-object;
    }
  }

  .comment-body {
    @extend .media-body;

    .comment-heading {
      @extend .media-heading;
    }

    .comment-meta {}

    .comments {}
  }
}

.comments {
  clear:        left;
  padding-left: 0;
}
