/* Footer */

.site-footer {
  background-color: $color-background;
  border-top:       1px solid $color-background-border;
  clear:            both;
  color:            $color-background-text;
  margin-top:       40px;

  .b3-credits {
    @extend .container;

    padding-bottom: 40px;
    padding-top:    40px;
    text-align:     center;

    .social-buttons {
      display:       inline-block;
      list-style:    none;
      margin-bottom: 20px;
      padding-left:  0;

      li {
        display:     inline-block;
        line-height: 1;
        padding:     5px 8px;

        .github {
          border:   0;
          overflow: hidden;
        }
      }
    }

    .footer-links {
      color:        #999;
      margin-top:   20px;
      padding-left: 0;

      li {
        display: inline;

        &::before{
          content: '\00B7';
          padding: 0 10px;
        }

        &:first-child {
          padding-left: 0;

          &::before {
            content:      '';
            padding-left: 0;
          }
        }
      }
    }

    p {
      margin-bottom: 0;
    }
  }

}
