body.admin-bar {
  padding-top: 28px;

  @media screen and (max-width: 782px) {
    padding-top: 46px;
  }

  .site-body {
    top: 28px;

    @media screen and (max-width: 782px) {
      top: 46px;
    }
  }

  .navbar-fixed-top {
    top: 28px;

    @media screen and (max-width: 782px) {
      top: 46px;
    }

    @media screen and (max-width: 600px) {
      position: absolute;
    }
  }
}
