/**
 * Import Bootstrap
 */
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

/**
 * Import theme style variables.
 */
@import "variables";

/**
 * Import theme mixins.
 */
@import "mixins/mixins";

/**
 * Import accessibility styles.
 */
@import "accessibility";

/**
 * Import WordPress specific styles.
 */
@import "wordpress";

body {
  word-wrap: break-word;
}

.loading {
  opacity: 0.5;
}

.navbar-container {
  @extend .container;
}

.jumbotron {
  @extend .container-fluid;

  .jumbotron-container {
  }
}

.site-header {
  min-height: 50px;
}

.site-body {
  @extend .container;

  .site-body__main {
    @include make-md-column(9);
    @include make-xs-column(12);

    .entry,
    .entries {
      @include make-md-column(12);
      @include make-xs-column(12);
    }

    @media (min-width: $screen-md-min) {
      padding-left: 0;
    }
  }

  .site-body__sidebar {
    @extend .container;
    @include make-md-column(3);
    @include make-xs-column(12);

    @media (min-width: $screen-md-min) {
      padding-right: 0;
    }
  }

  #b3-error,
  .site-body__sidebar {
    margin-top: 40px;
  }
}

.loading-container {
  margin: 100px;
  .progress-bar {
    @extend .progress-bar-striped;
  }
}

.alignleft,
.alignright,
.aligncenter {
  margin: $padding-base-vertical $padding-base-horizontal;
}

.alignleft {
  @extend .pull-left;
  margin-left: 0;
}

.alignright {
  @extend .pull-right;
  margin-right: 0;
}

.aligncenter {
  @include clearfix;
  clear:        both;
  margin-left:  auto;
  margin-right: auto;
}

.alignnone {
  @include clearfix;
  clear: both;
}

img {
  max-width: 100%;
  height: 100%;
}

.entry-content table {
  @extend .table;
  @extend .table-striped;
}

.label-category {
  @extend .label;
  @extend .label-primary;
  a {
    color: #fff;
  }
}

/**
 * Import gallery styles.
 */
@import "gallery";

/**
 * Import comment styles.
 */
@import "comments";

/**
 * Import sidebar styles.
 */
@import "sidebar";

/**
 * Import icon styles.
 */
@import "icons";

/**
 * Import form styles.
 */
@import "forms";

/**
 * Import footer styles.
 */
@import "footer";
